.weather-card {
  width: 350px;
  /* padding: 25px; */
  border: 2px solid #444;
  border-radius: 15px;
  font-family: Arial;
  color: #333;
}

.weather-card h1 {
  padding: 25px 25px;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.location-details {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid #444;
}

.location .city {
  margin: 0;
  font-size: 20px;
  text-transform: capitalize;
}

.location .city-temp {
  margin: 5px 0 0;
  font-size: 48px;
  font-weight: bold;
}

.weather-img i {
  font-size: 60px;
  line-height: 1;
  color: #444;
  display: inline-block;
}

.weekly-forecast {
  border-bottom: 2px solid #444;
  margin-bottom: 20px;
}

.weeks {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  /* padding-top: 15px; */
}

.day {
  text-align: center;
  width: 60px;
  font-size: 14px;
}

.day-name {
  padding-bottom: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
}

.day-icon {
  font-size: 24px;
  margin-bottom: 15px;
  object-fit: contain;
}

.day-temp-max, .day-temp-min  {
  font-size: 15px;
  /* font-weight: bold; */
  margin: 0;
}

